/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


body{
  background: peachpuff;
 
}

body h1{
  color: navy;
  text-align: center;
  size: 24px;

}

#image{
  display: block;
  margin: 0 auto;
  border: 5px solid navy;
  border-radius: 5px;
  
}
body h2{
  border: 5px solid navy;
  color: navy;
  border-radius:5px;
  height: 200px;
  width: 600px;
  margin-top: 10px;
  margin-left: 28.5%;
  border-width: auto;
  text-align: center;
}

#button {
  height:50px; 
  width:200px; 
  border: 3px solid navy;
  background-color: white;
  color: navy;
  font-size: 22px;
  border-radius: 5px;
  margin: 40px 0; 
  position:relative;
  top:50%; 
  left: 42%;
}
button:hover{
  filter:brightness(50%);
}

.hidden{
  display: none;
}



/* Add Media Query here */




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
